.containers {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    align-items: center ;
    margin-top: 40px;
}
.container-sm {
    padding: 10px;
    margin: 5px;
    border: solid 2px black;
    border-radius: 20px;
}