.container-text.center {
width: 100%;
height: auto;    
display: flex;
justify-content: center;
}

.row-lign-items-start {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col {
    border-radius: 10px;
    border: solid 2px black;
    margin: 0;
    padding: 10px;
}